.sort {
  align-items: center;
  display: flex;
  margin: 0 auto 25px auto;
  width: 80%;
}

.sort__categories, 
.sort__category {
  display: inline-block;
  margin: 0 20px 0 0;
  color: #000;
}

.active {
  color: #FE7BB4;
}

.filter {
  background-color: #E4DBE3;
  
  border: none;
  display: block;
  height: 32px;
  width: 80%;
  margin: 0 auto 32px auto;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .filter {
    height: 40px;
  }
}