.reply-form {
  display: none;
}

.show {
  display: block;
}

.replies {
  margin-left: 26px;
}

.build {
  margin: 10px 20px;
}

.build__title {
  margin-top: 34px;
}

.build__main-title {
  margin-top: 3px;
  line-height: 21px;
}

.build__intro {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.build__info-title {
  color: #A6A6A6;
  font-size: 0.9em;
  margin: 0;
}

.build__info--ml {
  margin-left: 5px;
}

.replies--ml, .comment--ml {
  margin-left: 10px;
}

.build__champion-name {
  font-weight: 800;
  font-size: 18px;
}

.build__main-title--margin {
  margin-left: 11px;
  text-decoration: underline;
}

.build__category-title {
  margin-bottom: 10px;
  text-decoration: underline;
}

.image {
  border-radius: 50%;
  margin-right: 12px;
  width: 64px;
}

.build__login-prompt {
  border: 1px solid #000;
  border-radius: 7px;
  padding: 15px 10px;
  margin-bottom: 30px;
}

.button--container {
  text-align: right;
}

.button {
  padding: 10px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.button--default {
  background: none;
  border: none;
  background: none;
  outline: none;
}

.button--clear {
  color: #FE7BB4;
  padding: 0;
}

.button--pink {
  background-color: #FE7BB4;
  color: #fff;
}

.button--border {
  border: 1px solid black;
}

.button--large {
  padding: 20px 40px;
  margin: 0;
}

.button--margin {
  margin-left: 10px;
}

.button--margin-top {
  margin-top: 10px;
}

.comment-controls {
  display: flex;
  align-items: center;
  color: #FE7BB4;
}

.comment-controls__control {
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}

.build__build, 
.build__team, 
.build__guide {
  margin-top: 16px;
}

.margin__bottom {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .build {
    width: 80%;
    margin: 0 auto;
  }

  .build__main-title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 16px;
  }

  .build__category-title {
    font-size: 18px;
  }

  .button--large {
    padding: 32px 100px;
  }
}